<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="content">

    <form>
        <div class="login" id="inputLoginInfo">
        <div class="form-group">
            <label for="userName">Username</label>
            <input type="text" class="form-control" id="userName">
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <button type="button" class="btn btn-outline-success">Login</button>
        </div>
    </form>
</div>

<script src="javascript.js"></script>
</body>
</html>