<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Sighting</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="white" class="bi bi-binoculars-fill" viewBox="0 0 16 16"><path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z"/>
        </svg>My Nature Notebook Worldwide</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/addSighting}">Add a Sighting</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="userOptions">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/yourSightings}">Your Sightings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/profile}">Your Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<div class="container">
    <div class="row col-md-10">
        <h2><a th:href="@{/species/{species} (species=${sighting.speciesName})}" th:text = "${sighting.speciesName}">speciesName</a>
        </h2>
      <!--  <div th:switch="${sighting.user.email}">
                        <span th:case="currentUserEmail">
                            <a th:href="@{/editSighting/{sightingId} (sightingId=${sighting.sightingId})}" type="button" class="btn btn-primary">Edit</a>
                        </span>
                        <span th:case="*">blabla</span>
    </div>-->
        <br>
    </div>
</div><br>
    <div class="container text-left">
    <div class="row align-items-start">
        <div class="col">
            <ol class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">User</div>
                        <a th:href="@{/name/{userName} (userName=${user.userName})}" th:text = "${user.userName}">name</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Continent</div>
                        <a th:href="@{/continent/{continent} (continent=${sighting.continent})}" th:text = "${sighting.continent.displayValue}">continent</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Country</div>
                        <a th:href="@{/country/{country} (country=${sighting.country})}" th:text = "${sighting.country}">country</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Location</div>
                        <a th:text = "${sighting.location}">location</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Date</div>
                        <a th:text = "${sighting.dateOfSighting}" >dateOfSighting</a>
                        <a th:text = "${sighting.timeOfSighting}" >timeOfSighting</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Quantity</div>
                        <a th:text = "${sighting.quantity}">quantity</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Taxonomic Class</div>
                        <a th:text = "${sighting.taxonomicClass}">taxonomicClass</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sex</div>
                        <a th:text = "${sighting.sex}">sex</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Life Stage</div>
                        <a th:text = "${sighting.lifeStage}">lifeStage</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Behaviour</div>
                        <a th:text = "${sighting.behaviour}">behaviour</a>
                    </div>
                </li>
            </ol>
        </div>
        <br>
        <br>
        <div class="col">
            <ol class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="card text-bg-dark text-white" th:each="photo: ${sighting.photos}">
                            <img class="img-fluid" th:src="@{${'/photos/' + photo.fileName}}" alt="sighting photo"/>
                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                 <p class="card-text"><small>&copy;<span th:text="${user.userName}">userName</span></small></p>
                            </div>
                        </div>
                    </div>
                </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Notes</div>
                <p th:text="${sighting.notes}">Lorem ipsum...</p></div>
        </li>
            </ol>
    </div>
</div>

<!--<div class="container">
    <div class="row col-md-10">
        <h2>Specific sighting page coming soon!</h2>
    </div>
    <div class="row col-md-10">
        <h2>Specific sighting page coming soon?</h2>
        <p th:text="${sighting}">sighting</p>
    </div>
</div>-->
    </div>
</body>
</html>