<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Sighting</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}"
          th:rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <!-- jquery cdns for autocomplete field -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.1.js}" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script th:src="@{https://code.jquery.com/ui/1.13.2/jquery-ui.js}" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
    <link th:rel="stylesheet" th:href="@{https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css}">
    <script th:src="@{/autocomplete.js}" defer></script>
    <link th:rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="white" class="bi bi-binoculars-fill" viewBox="0 0 16 16"><path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z"/>
        </svg>My Nature Notebook Worldwide</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/addSighting}">Add a Sighting</a>
                </li>
                <div>
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Resources
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">FAQs</a></li>
                            <li><a class="dropdown-item" href="https://www.birds.cornell.edu/home/">Handy Links</a></li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    Help with IDs
                                </a>
                                <ul class="dropdown-menu dropdown-submenu" data-bs-toggle="dropdown">
                                    <li>
                                        <a class="dropdown-item" href="#">Get Help &raquo;</a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Africa</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Antarctica</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Asia</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Europe</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">North America</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Oceania</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">South America</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Give Help &raquo; </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Africa</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Antarctica</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Asia</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Europe</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">North America</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Oceania</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">South America</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Community</a></li>
                            <li><a class="dropdown-item" href="#">Quizzes</a></li>
                        </ul>
                    </div>
                </div>&nbsp
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="userOptions">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/yourSightings}">Your Sightings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/profile}">Your Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>

<!--        <form class="d-flex" role="search"  th:object="${sighting}" method="post">-->
<!--            <input type="text" class="input-large search-query" th:action="@{/speciesNameAutocomplete}" value="search" name="species" id="speciesName" th:field="*{speciesName}" placeholder="Try typing a species name" aria-label="Search">&nbsp-->
<!--            <button class="btn btn-outline-light" type="submit">Search</button>-->
<!--        </form>-->
    </div>
</nav>
<br />
<div class="container">
    <div th:if="${param.success}">
        <div class="alert alert-info">
            You have successfully added this species to your wish list!
        </div>
    </div>
    <div class="row col-md-10">
        <h2><a th:href="@{/species/{species} (species=${sighting.speciesName})}" th:text = "${sighting.speciesName}">speciesName  </a>
            <form method="post" role="form" th:action="@{/sightingPage/{sightingId}/addToWishList/{speciesName} (sightingId = ${sighting.sightingId}, speciesName = ${sighting.speciesName})}" th:object="${user}"><button type="submit" class="btn btn-outline-dark">Add Species to Wishlist</button></form></h2>
    </div>

</div><br>
    <div class="container text-left">
    <div class="row align-items-start">
        <div class="col">
            <ol class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">User</div>
                        <a th:href="@{/name/{userName} (userName=${user.userName})}" th:text = "${user.userName}">name</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Continent</div>
                        <a th:href="@{/continent/{continent} (continent=${sighting.continent})}" th:text = "${sighting.continent.displayValue}">continent</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Country</div>
                        <a th:href="@{/country/{country} (country=${sighting.country})}" th:text = "${sighting.country}">country</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Location</div>
                        <a th:text = "${sighting.location}">location</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Date</div>
                        <a th:text = "${#temporals.format(sighting.dateOfSighting, 'dd-MM-yyyy HH:mm')}" >dateOfSighting</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Quantity</div>
                        <a th:text = "${sighting.quantity}">quantity</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Taxonomic Class</div>
                        <a th:text = "${sighting.taxonomicClass}">taxonomicClass</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Sex</div>
                        <a th:text = "${sighting.sex}">sex</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Life Stage</div>
                        <a th:text = "${sighting.lifeStage}">lifeStage</a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Behaviour</div>
                        <a th:text = "${sighting.behaviour}">behaviour</a>
                    </div>
                </li>
            </ol>
        </div>
        <br>
        <br>
        <div class="col">
            <ol class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-start" th:each="photo: ${sighting.photos}">
                    <a th:href="@{/photos/{photo} (photo = ${photo.fileName})}">
                    <div class="ms-2 me-auto">
                        <div class="card text-bg-dark text-white" >
                            <img class="img-fluid" th:src="@{${'/photos/' + photo.fileName}}" alt="sighting photo"/>
                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                <p class="card-text">
                                    <small><span th:text="${sighting.speciesName}"}>speciesName</span><br>
                                        &copy;<span th:text="${user.userName}">userName</span><br>
                                        <span th:text="${#temporals.format(sighting.dateOfSighting, 'dd-MM-yyyy HH:mm')}">dateOfSighting</span></small>
                                </p>
                            </div>
                        </div>
                    </div>
                    </a>

                </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                    <div class="fw-bold">Notes</div>
                    <p th:text="${sighting.notes}">Lorem ipsum...</p>
                    </div>
            </li>
        </ol>
    </div>
</div>
    </div>


</body>
</html>