<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update a Sighting</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css}"><link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <!-- jquery cdns for autocomplete field -->

    <script th:src="@{https://code.jquery.com/jquery-3.6.1.js}" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script th:src="@{https://code.jquery.com/ui/1.13.2/jquery-ui.js}" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css}">
    <script type="text/javascript" th:src="@{/autocomplete.js}" defer></script>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" fill="white" class="bi bi-binoculars-fill" viewBox="0 0 16 16"><path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z"/>
        </svg>My Nature Notebook Worldwide</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/addSighting}">Add a Sighting</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="userOptions">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/yourSightings}">Your Sightings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/profile}">Your Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card-header">
            <h2 class="text-center">Update a Sighting</h2>
            <div class="wrap">
                <div class="form-header">
                    <h3>Sighting Information (* = required)</h3>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        You have successfully updated your sighting!
                    </div>
                </div>
                <div class="card-body">
                    <form method="post"
                          role="form"
                          enctype="multipart/form-data"
                          th:action="@{/updateSighting/save}"
                          th:object="${sighting}">
                        <input type="hidden"  th:field="*{sightingId}"/>
                        <input type="hidden" th:field="*{user}"/>
                        <div class="form-group mb-3">
                            <label class="form-label">* Species name</label>
                            <input class="form-control"
                                   id="speciesName"
                                   name="speciesName"
                                   placeholder="Enter Species Name"
                                   th:field="*{speciesName}"
                                   type="text"/>
                            <p th:errors = "*{speciesName}" class="text-danger"
                               th:if="${#fields.hasErrors('speciesName')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label for="continent">* Continent</label>
                            <select id="continent" name="continent" required>
                                <option value="name">Select Continent</option>
                                <option th:each="continent : ${T(be.avivaCode.MyNatureNotebookWorldwide.data.Sighting.Continent).values()}"
                                        th:value="${continent}"
                                        th:text="${continent.displayValue}"
                                        th:field="*{continent}">
                                </option>
                            </select>
                            <p th:errors = "*{continent}" class="text-danger"
                               th:if="${#fields.hasErrors('continent')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label for="country">* Country</label>
                            <select id="country" name="country" required>
                                <option value="name">Select Country</option>
                                <option th:each="country : ${countryList}"
                                        th:value="${country}"
                                        th:text="${country}"
                                        th:field="*{country}">
                                </option>
                            </select>
                            <p th:errors = "*{country}" class="text-danger"
                               th:if="${#fields.hasErrors('country')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Location</label>
                            <input class="form-control"
                                   id="location"
                                   name="location"
                                   placeholder="Optional location: ex. region, town, park"
                                   th:field="*{location}"
                                   type="text"/>
                            <p th:errors = "*{location}" class="text-danger"
                               th:if="${#fields.hasErrors('location')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Date of Sighting</label>
                            <input class="form-control"
                                   id="dateOfSighting"
                                   name="dateOfSighting"
                                   placeholder=""
                                   th:field="*{dateOfSighting}"
                                   type="datetime-local"/>
                            <p th:errors = "*{dateOfSighting}" class="text-danger"
                               th:if="${#fields.hasErrors('dateOfSighting')}"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">* Quantity (estimated)</label>
                            <input class="form-control"
                                   id="quantity"
                                   name="quantity"
                                   placeholder=""
                                   th:field="*{quantity}"
                                   type="number" min="1"/>
                            <p th:errors = "*{quantity}" class="text-danger"
                               th:if="${#fields.hasErrors('quantity')}"></p>
                        </div>
                        <fieldset class="box"><legend><i class="fa fa-paw"></i> Extra info for Animals </legend>
                            <div class="form-group mb-3">
                                <label for="taxonomicClass">Taxonomic Class</label>
                                <select id="taxonomicClass" name="taxonomicClass">
                                    <option></option>
                                    <option th:each="taxonomicClass : ${T(be.avivaCode.MyNatureNotebookWorldwide.data.Sighting.TaxonomicClass).values()}"
                                            th:value="${taxonomicClass}"
                                            th:text="${taxonomicClass.displayValue}"
                                            th:field="*{taxonomicClass}">
                                    </option>
                                </select>
                                <p th:errors = "*{taxonomicClass}" class="text-danger"
                                   th:if="${#fields.hasErrors('taxonomicClass')}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label for="sex">Sex</label>
                                <select id="sex" name="sex">
                                    <option></option>
                                    <option th:each="sex : ${T(be.avivaCode.MyNatureNotebookWorldwide.data.Sighting.Sex).values()}"
                                            th:value="${sex}"
                                            th:text="${sex.displayValue}"
                                            th:field="*{sex}">
                                    </option>
                                </select>
                                <p th:errors = "*{sex}" class="text-danger"
                                   th:if="${#fields.hasErrors('sex')}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label for="lifeStage">Life Stage</label>
                                <select id="lifeStage"  name="lifeStage">
                                    <option></option>
                                    <option th:each="lifeStage : ${T(be.avivaCode.MyNatureNotebookWorldwide.data.Sighting.LifeStage).values()}"
                                            th:value="${lifeStage}"
                                            th:text="${lifeStage.displayValue}"
                                            th:field="*{lifeStage}">
                                    </option>
                                </select>
                                <p th:errors = "*{lifeStage}" class="text-danger"
                                   th:if="${#fields.hasErrors('lifeStage')}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Behaviour</label>
                                <textarea class="form-control"
                                          id="behaviour"
                                          name="behaviour"
                                          placeholder=""
                                          th:field="*{behaviour}"
                                          type="text">
                                    </textarea>
                                <p th:errors = "*{behaviour}" class="text-danger"
                                   th:if="${#fields.hasErrors('behaviour')}"></p>
                            </div>
                            <div class="sub-opt">
                                <label class="form-label">Deceased</label>
                                <input type="checkbox"
                                       id="deceased"
                                       name="options"
                                       th:field="*{deceased}"/>
                                <p th:errors = "*{deceased}" class="text-danger"
                                   th:if="${#fields.hasErrors('deceased')}"></p>
                            </div>
                        </fieldset>
                        <fieldset class="sub-opts">
                            <legend><i class="fa fa-check"></i> Other options </legend>
                            <div class="sub-opt">
                                <label class="sub-label" for="lifer">   Mark as "lifer"
                                </label>
                                <input type="checkbox"
                                       id="lifer"
                                       name="options"
                                       th:field="*{lifer}"/>
                                <p th:errors = "*{lifer}" class="text-danger"
                                   th:if="${#fields.hasErrors('lifer')}"></p>
                                <button type="button" class="btn btn-primary btn-sm rounded-pill" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="If this is your first time seeing this species you can say it's a 'lifer'!">
                                    ?
                                </button>
                            </div>
                            <div class="sub-opt">
                                <label class="sub-label" for="locationHidden"> Hide location </label>
                                <input type="checkbox"
                                       id="locationHidden"
                                       name="options"
                                       th:field="*{locationHidden}"/>
                                <p th:errors = "*{locationHidden}" class="text-danger"
                                   th:if="${#fields.hasErrors('locationHidden')}"></p>
                                <button type="button" class="btn btn-primary btn-sm rounded-pill" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="If the species is vulnerable or endangered, you may want to hide the exact location to keep disturbance to a minimum.">
                                    ?
                                </button>
                            </div>
                            <div class="sub-opt">
                                <label class="sub-label" for="keepPrivate"> Keep private </label>
                                <input type="checkbox"
                                       id="keepPrivate"
                                       name="options"
                                       th:field="*{keepPrivate}"/>
                                <p th:errors = "*{keepPrivate}" class="text-danger"
                                   th:if="${#fields.hasErrors('keepPrivate')}"></p>
                                <button type="button" class="btn btn-primary btn-sm rounded-pill" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="This will make the sighting visible only to you.">
                                    ?
                                </button>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label">Notes</label>
                                <textarea class="form-control"
                                          id="notes"
                                          name="notes"
                                          placeholder=""
                                          th:field="*{notes}"
                                          type="text"></textarea>
                                <p th:errors = "*{notes}" class="text-danger"
                                   th:if="${#fields.hasErrors('notes')}"></p>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend><i class="fa fa-camera"></i> Upload Photo (optional) and Submit Sighting</legend>
                            <div class="form-group mb-3">
                                <input id="Sighting_Id" type="hidden" name="sightingId" th:field="*{sightingId}"/>
                                <div>
                                    <input type="file" name="imageFile"/>
                                    <br><br>
                                </div>
                                <div>
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
</body>
</html>
