a:link {
  text-decoration: none;
  color: green;
}

a:visited {
  text-decoration: none;
    color: green;
}

a:hover {
  text-decoration: underline;
    color: green;
}

a:active {
   text-decoration: underline;
     color: green;
}