
img {
    float: left;
    height 100px;
    object-fit: cover;
    color: red;
}

.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}